# Server Configuration
PORT=3000
BASE_URL=http://localhost:3000

# Token & Server URL required for local subtitle detection
PLEX_TOKEN=
PLEX_SERVER_URL=http://192.168.1.235:32400
PLEX_LIBRARY_BASE_PATH="/srv/plex/Plex/Theatre"

### API Keys ###

ENCORA_API_KEY=
STAGEMEDIA_API_KEY=


### CUSTOMISATION OPTIONS###

# {{show}}          - Title of the Show
# {{tour}}          - Tour Name
# {{date}}          - MONTH DD, YYYY
# {{date_iso}}      - YYYY-MM-DD
# {{date_usa}}      - MM-DD-YYYY
# {{date_numeric}}  - DD-MM-YYYY
# {{master}}        - Master of the recording

TITLE_FORMAT="{{show}} ({{tour}}) {{date}}"
DATE_REPLACE_CHAR="x"